*.py[cod]
*.egg-info
*.eggs
.ipynb_checkpoints
*.vtk

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache

docs/_build
docs/apidocs
playground/

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store

# mesh files
*.mesh*
*.msh*
*.gmsh*

# pygalmesh
dummies_post_treatement.xyz
dummies_pre_treatement.xyz

# matplotlib
result_images/
