# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
exclude: |
  (?x)
  \.vol
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-builtin-literals
      - id: check-ast
      - id: check-merge-conflict
      - id: debug-statements
      - id: double-quote-string-fixer
  - repo: https://github.com/PyCQA/isort
    rev: '5.8.0'
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-yapf
    rev: 'v0.31.0'
    hooks:
      - id: yapf
  - repo: https://github.com/myint/docformatter
    rev: 'v1.4'
    hooks:
      - id: docformatter
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.9.1'
    hooks:
      - id: flake8
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.812'
    hooks:
      - id: mypy
  # - repo: https://github.com/kynan/nbstripout
  #   rev: master
  #   hooks:
  #     - id: nbstripout
  #       files: ".ipynb"
