aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.4.2
async-timeout==4.0.1
atomicwrites==1.4.0
attrs==21.2.0
autodocsumm==0.2.7
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bleach==4.1.0
bump2version==1.0.1
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.9
colorama==0.4.4
colorcet==3.0.0
commonmark==0.9.1
coverage==6.2
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.4
docutils==0.17.1
entrypoints==0.3
filelock==3.4.0
fonttools==4.28.3
frozenlist==1.2.0
identify==2.4.0
idna==3.3
imageio==2.13.3
imagesize==1.3.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipydatawidgets==4.2.0
ipykernel==6.6.0
ipympl==0.8.2
ipython==7.30.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itk-core==5.2.1.post1
itk-filtering==5.2.1.post1
itk-meshtopolydata==0.7.1
itk-numerics==5.2.1.post1
itkwidgets==0.32.1
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.2.1
jupyter-client==7.1.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
meshio==4.4.6
mistune==0.8.4
multidict==5.2.0
-e git+https://github.com/hpgem/nanomesh.git@bb8e5cc36205bee9b7d1921b74fa51199a8b5331#egg=nanomesh
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nbmake==1.1
nbsphinx==0.8.7
nbsphinx-link==1.3.0
nest-asyncio==1.5.4
networkx==2.6.3
nodeenv==1.6.0
notebook==6.4.6
numpy==1.21.4
packaging==21.3
pandocfilters==1.5.0
param==1.12.0
parso==0.8.3
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pyct==0.4.8
pydantic==1.8.2
Pygments==2.10.0
pylint==2.6.0
pyparsing==3.0.6
pyrsistent==0.18.0
pytest==6.2.5
pytest-cov==3.0.0
python-dateutil==2.8.2
pytz==2021.3
pyvista==0.32.1
PyWavelets==1.2.0
pywin32==302
pywinpty==1.1.6
PyYAML==6.0
pyzmq==22.3.0
recommonmark==0.7.1
requests==2.26.0
scikit-image==0.19.0
scikit-learn==1.0.1
scipy==1.7.3
scooby==0.5.9
Send2Trash==1.8.0
six==1.16.0
snowballstemmer==2.2.0
Sphinx==4.3.1
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
terminado==0.12.1
testpath==0.5.0
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.2
tornado==6.1
traitlets==5.1.1
traittypes==0.2.1
triangle==20200424
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.10.0
vtk==9.1.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wincertstore==0.2
wrapt==1.12.1
wslink==1.2.1
yapf==0.31.0
yarl==1.7.2
zipp==3.6.0
zstandard==0.16.0
